/node_modules
/scraper/node_modules
/frontend/node_modules
/frontend/maigret/reports
scraper/storage/
/scraper/src/storage
scraper/src/storage/key_value_stores/default/SDK_SESSION_POOL_STATE.json
/scraper/src/storage
/scraper/src/storage
yarn.lock
/.aws
/maigret-backend/myenv
/maigret/node_modules
/maigret/reports
backend/package-lock.json
backend/node_modules


.vercel
*.png
package-lock.json
yarn.lock
/venv
/.vscode
scraper/followers_log.txt
scraper/following_log.txt
*.session
*.session
/scraper/src/Helpers/Telegram/__pycache__
*.jpg
/output
/scraper/__pycache__
session_9650593099.session
/output
/output/Loot Deals KS Women
scraper/session.json
scraper/src/Helpers/Whatsapp/screenshots_chat_2/chat_text.txt
/user-data
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests
/tests-examples
scraper/Darke_TheDragon_following_log.txt
scraper/Darke_TheDragon_followers_log.txt
package-lock.json
/scraper/src/Helpers/user_data
