/node_modules
/scraper/node_modules
/frontend/node_modules
/frontend/maigret/reports
scraper/storage/
/scraper/src/storage
scraper/src/storage/key_value_stores/default/SDK_SESSION_POOL_STATE.json
/scraper/src/storage
/scraper/src/storage
yarn.lock
/.aws
/maigret-backend/myenv
/maigret/node_modules
/maigret/reports
backend/package-lock.json
backend/node_modules


.vercel
*.png
*.txt
*.txt
package-lock.json
yarn.lock
/venv
/.vscode
scraper/followers_log.txt
scraper/following_log.txt
