{
    "root": true,
    "env": {
        "browser": true,
        "es2020": true,
        "node": true
        
    },
    "compilerOptions": {
    "target": "ES6",
    "lib": ["ES6", "DOM"] // Ensures you're using ES6+ features
  }
      
,      
    "extends": [
        "@apify/eslint-config-ts"
    ],
    "parserOptions": {
        "project": "./tsconfig.json",
        "ecmaVersion": 2020
    },
    "ignorePatterns": [
        "node_modules",
        "dist",
        "**/*.d.ts"
    ]
    
}
